<table class="table">

  <thead>
  <tr>
    <th style="margin-right: auto">Grade</th>
    <th style="margin-right: auto">Student name</th>
    <th style="margin-right: auto">Date</th>
    <th style="margin-right: auto">Subject name</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let grade of grades">
    <td >
      {{grade.grade}}
    </td>
    <td>{{getStudentCredentialsByGradeId(grade.id)}}</td>
    <td>{{grade.date}}</td>
    <td>{{getSubjectNameByGradeId(grade.id)}}</td>
  </tr>
  </tbody>



</table>
