
<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a routerLink="/">
      <img style="max-height: 100%;max-width: 100%" src="assets/logo.png" alt="SchoolSite" class="img-responsive">
    </a>
  </div>
  <app-action-menu></app-action-menu>
</aside>
<!-- END MENU SIDEBAR-->
<div class="page-container" style="margin-top:300px">
  <!-- HEADER DESKTOP-->

  <header class="header-desktop">
    <div class="section-content section-content-p30">
      <div class="container-fluid">
        <div class="header-wrap">
          <div class="row">
            <div class="col">
              <label></label>
            </div>
          </div>


         <!-- <app-search></app-search>
          <app-login-status></app-login-status>
          <app-cart-status></app-cart-status>-->
          <!--<div class="cart-area d-n">
            <a href="shopping-detail.html">
              <div class="total">19.22 <span> 2</span> </div> <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
          </div>-->
        </div>
        <div class="account-wrap"></div>
      </div>
    </div>
  </header>
  <!-- END HEADER DESKTOP-->

  <!-- MAIN CONTENT-->
  <router-outlet></router-outlet>




</div>

<!-- ENDS PAGE CONTAINER -->

